.soair{
    color: aquamarine;
    background-color: blue;
}
/* h1{
    color: brown;

} */
#soair{
    color: green;
    background-color: darkorange;
}
body{
    background-color: blueviolet !important;
}
.mama{
    color: rgb(225, 225, 255);
    color: ;
}
